!NetHack.sln
*.db-shm
*.db-wal
paniclog
_pkginfo.txt
AppPackages
BundleArtifacts
report.xml
*.cer
*.appxbundle
NetHackPackage_StoreKey.pfx
NetHackPackage_TemporaryKey.pfx
/.vs/NetHack/DesignTimeBuild/.dtbcache
/Images
/obj/Debug/Win32/dgncomp/dgncomp.tlog
/obj/Debug/Win32/dgncomp
/obj/Debug/Win32/dlb/dlb.tlog
/obj/Debug/Win32/dlb
/obj/Debug/Win32/levcomp/levcomp.tlog
/obj/Debug/Win32/levcomp
/obj/Debug/Win32/makedefs/makedefs.tlog
/obj/Debug/Win32/makedefs
/obj/Debug/Win32/NetHack/NetHack.tlog
/obj/Debug/Win32/NetHack
/obj/Debug/Win32/NetHackW/NetHackW.tlog
/obj/Debug/Win32/NetHackW
/obj/Debug/Win32/nh340key/nh340key.tlog
/obj/Debug/Win32/nh340key
/obj
/symbols/Debug/Win32
/uudecode.vcxproj
/UpgradeLog.htm
/travisci.sh
/tiles.vcxproj
/tilemap.vcxproj
/tile2bmp.vcxproj
/ScreenShot.PNG
/recover.vcxproj
/PDCurses.vcxproj
/Package.StoreAssociation.xml
/nhraykey.vcxproj
/nhraykey.def
/nhdefkey.vcxproj
/nhdefkey.def
/nh340key.vcxproj
/nh340key.def
/NetHackW.vcxproj.user
/NetHackW.vcxproj
/NetHackProperties.props
/NetHackPackage.wapproj
/NetHackPackage.appxmanifest
/NetHack.vcxproj
/NetHack.sln
/makedefs.vcxproj
/levcomp.vcxproj
/files.props
/dll.props
/dlb.vcxproj
/dirs.props
/dgncomp.vcxproj
/default_lib.props
/default_dll.props
/default.props
/console.props
/config.props
/common.props
/build.bat
/afteruudecode.proj
/aftertilemap.proj
/aftertile2bmp.proj
/afterrecover.proj
/afternethack.proj
/aftermakedefs.proj
/afterlevcomp.proj
/afterdlb.proj
/afterdgncomp.proj
/.gitignore
/.gitattributes
/.vs/NetHack/v15
/.vs/NetHack/v15
/.vs/NetHack/v15/ipch/AutoPCH
/.vs/NetHack/v15/ipch/AutoPCH/116902049cbca047/MHASKYN.ipch
